.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  width: rem(300px);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.wrapper {
  display: flex;
  flex: 1;

}

.aside {
  flex: 0 0 rem(60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
}

.main {
  flex: 1;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.mainLink {
  width: rem(44px);
  height: rem(44px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}

.mainLink:hover {
  background-color: #9ca3af;
}

.mainLink[data-active] {
  background-color: #0e7490;
  color: #1f2937
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  margin-bottom: var(--mantine-spacing-xl);
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-md);
  padding-top: rem(18px);
  height: rem(60px);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: rem(60px);
  padding-top: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  margin-bottom: var(--mantine-spacing-xl);
}

.link {
  display: block;
  text-decoration: none;
  border-top-right-radius: var(--mantine-radius-sm);
  border-bottom-right-radius: var(--mantine-radius-sm);
  color: white;
  padding: 0 var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  margin-right: var(--mantine-spacing-md);
  margin-bottom: 4px;
  background-color: #6b7280;
  font-weight: 500;
  height: rem(44px);
  line-height: rem(44px);
}

.link:hover {
  background-color: #9ca3af;
  color: light-dark(var(--mantine-color-dark), var(--mantine-color-light));
}

.link[data-active] {
  border-left-color: var(--mantine-color-blue-filled);
  background-color: #0891b2;
  color: var(--mantine-color-white);
}
